body {
  margin: 0;
  background-color: #000000 !important;
  color: #ffffff !important;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
ul{
  list-style: none;
}

.board-row{
  height: 90px;
}

.square {
  float: left;
  width: 90px;
  height: 90px;
  border-color: #fff;
  -webkit-transition: background-color .1s;
  -moz-transition: background-color .1s;
  transition: background-color .1s;
  will-change: background-color,border-color;
  cursor: pointer;
  color: #ffffff;
  line-height: 1;
  text-align: center;
  font-size: 82px;
}

.top{
  border-top-style: solid;
}

.bottom{
  border-bottom-style: solid;
}

.left{
  border-left-style: solid;
}

.right{
  border-right-style: solid;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.scoreBtn {
  width: 112px;
  margin-top: 0px;
  cursor: default;
  height: 112px;
  border: 0;
  border-radius: 10px;
  outline: none !important;
  font-size: 63px;
  
  display: block;
  position: relative;
  z-index: 5;
  top: 15px;
  background-color: #17a2b8;
  box-shadow: inset 0 -5px 1px #444444, 6px 7px 3px rgba(66, 66, 66, 0.5);
  
}

.ScoreBtnContainer {
  display: inline-block;
  text-align: center;
}
.playerTurn{
  background-color:#17a2b8;
  border-radius: 6px;
  line-height: 2;
  color: #ffffff;
}
.playerNoTurn{
  background: transparent;
  border-radius: 6px;
  line-height: 2;
  color: #ffffff;
}