body {
  margin: 0;
  background-color: #000000 !important;
  color: #ffffff !important;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
ul{
  list-style: none;
}

.board-row{
  height: 90px;
}

.square {
  float: left;
  width: 90px;
  height: 90px;
  border-color: #fff;
  -webkit-transition: background-color .1s;
  -moz-transition: background-color .1s;
  transition: background-color .1s;
  will-change: background-color,border-color;
  cursor: pointer;
  color: #ffffff;
  line-height: 1;
  text-align: center;
  font-size: 82px;
}

.top{
  border-top-style: solid;
}

.bottom{
  border-bottom-style: solid;
}

.left{
  border-left-style: solid;
}

.right{
  border-right-style: solid;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
